.container {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding-bottom: 50px;
  @media(max-width:660px){
    align-items: center;

  }

}

.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  width: 100%;
  padding: 50px 0;

  @media (max-width:1200px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 900px;
  }

  @media(max-width:900px){
    grid-template-columns: repeat(2, 1fr);
    max-width: 650px;
    grid-column-gap: 10px;
  }
  @media(max-width:660px){
    max-width: 500px;
    grid-row-gap: 20px;
  }
  @media(max-width:360px){
    grid-template-columns: repeat(1, 1fr);
  max-width: 300px;
  }
}



